<h1>dodaj komętarz</h1>

<form action="/blog/<%= post._id %>/comments" method="POST">
  <label for="textField"></label>
  <textarea name="text" id="textField" cols="30" rows="10"></textarea>
  <!-- <input type="text" name="text" placeholder="comment..."> -->
  <button>Dodaj komętarz</button>
</form>