<h1>dodaj komętarz</h1>

<<<<<<< HEAD
=======

>>>>>>> 8a7f2b26266ba509f27e53a90b06c76a5116f1da
<form action="/blog/<%= post._id%>/comments" method="POST">
  <input type="text" name="text" placeholder="comment...">
  <input class="form-control" type="text" name="author" placeholder="author">
  <button>Dodaj komętarz</button>
</form>