<h1>dodaj komętarz</h1>

<form action="/blog/<%= post._id%>/comments" method="POST">
  <input type="text" name="text" placeholder="comment...">
  <input class="form-control" type="text" name="author" placeholder="author">
  <button>Dodaj komętarz</button>
</form>