<% include  ./partials/header %>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="User name:">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
<% include  ./partials/footer %>