/* #### Defaults #### */
body {
  margin: 0;
  padding: 0;
}

nav,
header,
footer {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.bg-dark {
  background-color: #32aa7c !important;
  padding: 1em;
  font-size: 1.1em;
}
.featurette-image {
  border-radius: 5px;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  max-height: 100;
  transition: 0.75s;
}
.col-md-5:hover .featurette-image {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

/* style list title end*/
.error {
  color: #fff;
  background-color: red;
  font-family: "Raleway", sans-serif;
}

.form-control {
  background-color: rgb(240, 248, 255);
  border: none;
  color: #000;
  padding: 1em;
}

label[for="description-text"],
label[for="title-text"],
label[for="location-text"],
label[for="my-file"] {
  cursor: pointer;
  font-size: 1.2em;
  margin: 0.2em;
  font-family: "Raleway", sans-serif;
}

#title-text::before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

#title-text::after {
  width: 10px;
  height: 10px;
  background-color: #000;
}

#footer {
  position: flex;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  height: 25rem;
  background-color: rgb(90, 115, 145) !important;
}
#carousel img {
  width: 45%;
  height: 20em;
}

#footer-1 {
  height: 25rem;
  background-color: rgb(90, 115, 145) !important;
}

#map {
  width: 100%;
  height: 60%;
}
.map-cont {
  display: block;
  width: 40%;
  height: 70%;
}

.marker {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/img/pobrane.png");
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.image-map {
  width: 5%;
}

.input-file-container {
  position: relative;
  width: 225px;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  border: solid 1px rgb(181, 181, 181);
  color: #000;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Abel", sans-serif;
  font-weight: 100;
}

.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
/* ====================== */

.cards {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.card > .content > a.header,
.ui.cards > .card > .content > a.header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1;
}
.image .item img {
  width: 100%;
  height: 250px;
  position: flex;
  border-radius: 5px;
}

/* ================ */
#slider img {
  width: 960px;
  height: 500px;
}

#hero {
  width: 960px;
  height: 500px;
  position: relative;
  margin: 50px auto;
  margin-bottom: 0;
}
#slider {
  width: 960px;
  height: 500px;
  position: absolute;
  overflow: hidden;
}
#next {
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 60px;
  color: azure;
  background-color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 250px;
  right: 0;
  z-index: 99;
  opacity: 0;
}
#prev {
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 60px;
  color: azure;
  background-color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 250px;
  left: 0;
  z-index: 99;
  opacity: 0;
}
#hero:hover #next {
  opacity: 1;
  transition: all 0.8s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
#hero:hover #prev {
  opacity: 1;
  transition: all 0.8s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
