/* #### Defaults #### */
body {
  margin: 0;
  padding: 0;
}

nav,
header,
footer {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.featurette-image {
  border-radius: 5px;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  max-height: 100;
  transition: 0.75s;
}
.col-md-5:hover .featurette-image {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

/* style list title end*/
.error {
  color: #fff;
  background-color: red;
  font-family: "Raleway", sans-serif;
}

.form-control {
  background-color: rgb(240, 248, 255);
  border: none;
  color: #000;
  padding: 1em;
}

label[for="description-text"],
label[for="title-text"],
label[for="location-text"],
label[for="my-file"] {
  cursor: pointer;
  font-size: 1.2em;
  margin: 0.2em;
  font-family: "Raleway", sans-serif;
}

#title-text::before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

#title-text::after {
  width: 10px;
  height: 10px;
  background-color: #000;
}

#footer {
  position: flex;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  height: 25rem;
  background-color: rgb(90, 115, 145) !important;
}
#carousel img {
  width: 45%;
  height: 20em;
}

#footer-1 {
  height: 25rem;
  background-color: rgb(90, 115, 145) !important;
}

#map {
  width: 40%;
  height: 60%;
}

.marker {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/img/mapbox-icon.png");
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.image-map {
  width: 5%;
}

.input-file-container {
  position: relative;
  width: 225px;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  border: solid 1px rgb(181, 181, 181);
  color: #000;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Abel", sans-serif;
  font-weight: 100;
}

.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
