/* #### Defaults #### */
body {
  margin: 0;
  padding: 0;
}

nav,
header,
footer {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.featurette-image {
  border-radius: 5px;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  max-height: 100;
  transition: 0.75s;
}
.col-md-5:hover .featurette-image {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

/* style list title end*/
.error {
  color: #fff;
  background-color: red;
}

#footer {
  position: flex;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  height: 25rem;
  background-color: rgb(90, 115, 145) !important;
}
#carousel img {
  width: 45%;
  height: 20em;
}

#footer-1 {
  height: 25rem;
  background-color: rgb(90, 115, 145) !important;
}

#map {
  width: 40%;
  height: 60%;
}

.marker {
  background-image: url("/img/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
