<% include ../partials/header %>
<% Post %>


<br />
<br />

<div id="map">map</div>
<br />


<br />
<div class="ui container">
 <div class="ui grid" id="posts">
  
    <% include posts %>
  
 </div>
</div>


<br>
<br>

<a href="/">back...</a>

<br />
<a href="/blog/new">Create new post </a>

<button class="btn btn-lg btn-primary btn-block" id="loadMore" type="submit" > Load more...</button>

<script>
  var post = <%- JSON.stringify(Post) %>;
  const placesFilter = post.filter((place) => place.coordinates.length > 0);
  mapboxgl.accessToken =
    "pk.eyJ1IjoiZmlnYXQiLCJhIjoiY2pvaXY3NTN6MGRpNzN3cXNoaXNpNjEyMSJ9.jiyYnNApApmlEs-jamTIHQ";
   
   
 
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v9",
    center:  placesFilter[0].coordinates,
    zoom: 6,
    zooming: true
  });

for(let i = 0; i < placesFilter.length; i++){
 	    var el = document.createElement("div");
     el.className = "marker";
     var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(` <h3>  ${placesFilter[i].title} </h3> <p>  ${placesFilter[i].location}  </p>`);
// make a marker for each feature and add to the map
new mapboxgl.Marker(el)
.setLngLat(placesFilter[i].coordinates)
.setPopup(popup)
.addTo(map);}
</script>
</body>

</html>


<% include ../partials/footer %>