<% include ../partials/header %>



<br />
<br />


<br />


<br />
<div class="ui grid" id="posts">

  <% include posts %>

</div>




<br>
<br>

<a href="/">back...</a>

<br />
<a href="/blog/new">Create new post </a>

<button class="btn btn-lg btn-primary btn-block" id="loadMore" type="submit"> Load more...</button>


</body>

</html>


<% include ../partials/footer %>